.u-section-1 .u-sheet-1 {
  min-height: 778px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 55px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 66px;
  margin-bottom: 0;
}

.u-block-9ac5-49 {
  background-image: none;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-1 .u-table-header-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
  font-size: 1.125rem;
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  line-height: 1.6;
  font-size: 1.125rem;
}

.u-section-1 .u-table-cell-6 {
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-1 .u-table-cell-8 {
  font-weight: 700;
  font-size: 2.25rem;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-15 {
  font-size: 1.25rem;
  line-height: 1;
  background-image: none;
}

.u-section-1 .u-table-cell-16 {
  font-size: 1.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-18 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-19 {
  font-size: 2.25rem;
  line-height: 1;
  background-image: none;
}

.u-section-1 .u-table-cell-20 {
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-table-cell-23 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  padding: 7px 31px 7px 30px;
}

.u-section-1 .u-table-cell-27 {
  background-image: none;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  border-style: none;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1px;
  background-image: none;
  padding: 8px 30px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 7px 31px 7px 30px;
}

.u-block-9ac5-35 {
  background-image: none;
}

.u-section-1 .u-icon-3 {
  width: 39px;
  height: 39px;
  margin: -191px 123px 152px auto;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-table-cell-6 {
    font-size: 2rem;
  }

  .u-section-1 .u-table-cell-7 {
    font-size: 2rem;
  }

  .u-section-1 .u-table-cell-8 {
    font-size: 2rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    margin-top: 91px;
  }

  .u-section-1 .u-table-cell-6 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-cell-7 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-cell-8 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 77px;
  }
}